:root {
    --primary-font-color: #fff;
    --primary-color: #1e3687;
    --secondary-font-color: #000;
    --secondary-color: #0d1b49;
    --third-color: lightgray;
    --fourth-color: red;
    --font-family: 'Roboto', sans-serif;
    --css-gradient-background-1: rgb(181,182,182);
    --css-gradient-background-2: linear-gradient(94deg, rgba(181,182,182,1) 0%, rgba(44,70,150,1) 37%, rgba(56,80,153,1) 62%, rgba(181,182,182,1) 100%);
    
    --spinner-color-1: #6884df;
    --spinner-color-2: #4861b2;
    --spinner-color-3: #1e3687;
    --spinner-color-4: #0d1b49;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-left: 60px;
}

/* SIDEBAR START */

.container-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: 0.1s ease-in-out;
    border-right: 1px solid var(--secondary-color);
    z-index: 10000;
}

.container-sidebar .active {
    background-color: var(--secondary-color);
}

.container-sidebar:hover {
    width: 250px;
    padding-right: 20px;
}

.nav-item-name {
    visibility: hidden;
    transition: 0.05s ease-in-out;
}

.container-sidebar:hover .nav-item-name {
    visibility: visible;
}

.container-sidebar .container-logo {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-sidebar .container-logo .logo {
    width: 40px;
    transition: 0.1s ease-in-out;
}

.container-sidebar .container-menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container-sidebar .container-menu a {
    width: 100%;
    height: 50px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 17px;
    color: var(--primary-font-color);
    font-family: var(--font-family);
    margin-bottom: 10px;
    transition: 0.1s ease-in-out;
}

.container-sidebar .container-menu a:hover {
    background-color: var(--secondary-color);
    transition: 0.1s ease-in-out;
}

.container-sidebar .container-menu a i {
    font-size: 25px;
    height: 100%;
    transition: 0.05s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-sidebar .container-menu a p {
    font-size: 16px !important;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-sidebar:hover .menu-item {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* SIDEBAR END */

/* PAGES START */

.page-container {
    width: 100%;
    height: 100vh;
}

.page-container .title-container {
    width: 100%;
    height: 100px;
    background: var(--css-gradient-background-1);
    background: var(--css-gradient-background-2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-container .title-container .page-title {
    color: var(--primary-font-color);
    font-family: var(--font-family);
    font-size: 50px;
    font-weight: lighter;
}

.page-container .actions-container {
    width: 100%;
    height: calc(100vh - 100px);
    padding: 20px;
}

/* PAGES END */

/* ACTORS START */

table {
    border-spacing: 0px !important;
}

.hidden {
    display: none !important;
}

.page-container {
    width: 100%;
    height: calc(100vh - 100px);
}

.actors-container {
    width: calc(100%);
    height: calc(100%);
    display: flex;
    padding: 20px;
    gap: 20px;
}

.movies-container {
    width: calc(100%);
    height: calc(100%);
    display: flex;
    padding: 20px;
    gap: 20px;
}

.container {
    width: 70%;
    height: calc(100% - 40px);
}

.container .actors-table-container {
    width: 100%;
    height: calc(100%);
    overflow-y: scroll;
    border-top: 1px solid var(--third-color);
    border-left: 1px solid var(--third-color);
    border-right: 1px solid var(--third-color);
}

.container .movies-table-container {
    width: 100%;
    height: calc(100%);
    overflow-y: scroll;
    border-top: 1px solid var(--third-color);
    border-left: 1px solid var(--third-color);
    border-right: 1px solid var(--third-color);
}

.container .actors-table-container table .sticky {
    height: 50px;
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    font-family: var(--font-family);
    font-weight: bold;
    text-transform: uppercase;
}

.container .movies-table-container table .sticky {
    height: 50px;
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    font-family: var(--font-family);
    font-weight: bold;
    text-transform: uppercase;
}

.container .actors-table-container table {
    width: 100%;
    border-collapse: collapse;
    text-transform: uppercase;
}

.container .movies-table-container table {
    width: 100%;
    border-collapse: collapse;
    text-transform: uppercase;
}

.container .actors-table-container table tr {
    border-bottom: 1px solid lightgray;
    height: 40px;
    font-family: var(--font-family);
    font-size: 14px;
}

.container .movies-table-container table tr {
    border-bottom: 1px solid lightgray;
    height: 40px;
    font-family: var(--font-family);
    font-size: 14px;
}

.last-item {
    border-bottom: none !important;
}

.total-count {
    margin-right: 20px;
    color: var(--third-color);
    font-family: var(--font-family);
    text-transform: uppercase;
    font-weight: bold;
}

.container .actors-table-container table th:nth-child(1) {
    width: 6%;
    padding: 5px;
    padding-left: 10px;
    text-align: left;
}

.container .actors-table-container table tr td:nth-child(1) {
    width: 6%;
    padding: 5px;
    padding-left: 10px;
    text-align: left;
}

.container .movies-table-container table th:nth-child(1) {
    width: 5%;
    padding: 5px;
    padding-left: 10px;
    text-align: left;
}

.container .movies-table-container table tr td:nth-child(1) {
    width: 5%;
    padding: 5px;
    padding-left: 10px;
    text-align: left;
}

.container .actors-table-container table th:nth-child(2) {
    width: 50%;
    padding: 5px;
    text-align: left;
}

.container .actors-table-container table tr td:nth-child(2) {
    width: 50%;
    padding: 5px;
    text-align: left;
}

.container .movies-table-container table th:nth-child(2) {
    width: 25%;
    padding: 5px;
    text-align: left;
}

.container .movies-table-container table tr td:nth-child(2) {
    width: 25%;
    padding: 5px;
    text-align: left;
}

.container .actors-table-container table th:nth-child(3) {
    width: 50%;
    padding: 5px;
    text-align: left;
}

.container .actors-table-container table tr td:nth-child(3) {
    width: 50%;
    padding: 5px;
    text-align: left;
}

.container .movies-table-container table th:nth-child(3) {
    width: 75%;
    padding: 5px;
    text-align: left;
}

.container .movies-table-container table tr td:nth-child(3) {
    width: 75%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .actors-table-container table th:nth-child(4) {
    width: 100px;
    padding: 5px;
}

.container .actors-table-container table tr td:nth-child(4) {
    width: 100px;
    padding: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
    gap: 10px;
}

.container .movies-table-container table th:nth-child(4) {
    width: 10%;
    padding: 5px;
    text-align: left;
}

.container .movies-table-container table tr td:nth-child(4) {
    width: 10%;
    padding: 5px;
    text-align: left;
}

.container .movies-table-container table th:nth-child(5) {
    width: 150px;
    padding: 5px;
    padding-right: 20px;
}

.container .movies-table-container table tr td:nth-child(5) {
    width: 150px;
    padding: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    padding-right: 20px;
}

.container .actors-table-container table tr td button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: var(--third-color);
    transition: 0.1s ease-in-out;
}

.container .movies-table-container table tr td button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: var(--third-color);
    transition: 0.1s ease-in-out;
}

.container .movies-table-container table tr td button.movie-view:hover {
    background-color: green;
}

.container .actors-table-container table tr td button.actor-edit:hover {
    background-color: var(--primary-color);
}

.container .movies-table-container table tr td button.movie-edit:hover {
    background-color: var(--primary-color);
}

.container .actors-table-container table tr td button.actor-trash:hover {
    background-color: var(--fourth-color);
}

.container .movies-table-container table tr td button.movie-trash:hover {
    background-color: var(--fourth-color);
}

.container .actors-table-container table tr td i {
    font-size: 15px;
    color: var(--primary-font-color);
}

.container .movies-table-container table tr td i {
    font-size: 15px;
    color: var(--primary-font-color);
}

.container .pagination-container {
    width: 100%;
    height: 40px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 5px;
    border: 1px solid var(--third-color);
}

.container .pagination-container a {
    text-decoration: none;
    width: 50px;
    height: 30px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    border-radius: 4px;
    margin-left: 5px;
}

.container .pagination-container a:hover {
    background-color: var(--third-color);
    color: var(--primary-font-color);
}

.pagination-container .active {
    background-color: var(--primary-color);
    color: var(--primary-font-color) !important;
}

.form-container {
    width: 30%;
    height: calc(100vh - 140px);
}

.form-container p {
    width: 100%;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    font-family: var(--font-family);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
}

.form-container .actor-information-container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--third-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 14px;
}

.form-container .movie-information-container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--third-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 14px;
}

.form-container .actor-information-container label {
    font-family: var(--font-family);
    text-transform: uppercase;
}

.form-container .movie-information-container label {
    font-family: var(--font-family);
    text-transform: uppercase;
}

.form-container .actor-information-container input {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 16px !important;
    font-family: var(--font-family);
    border-radius: 4px;
    border: 1px solid var(--third-color);
}

.form-container .movie-information-container input, .form-container .movie-information-container select {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 16px !important;
    font-family: var(--font-family);
    border-radius: 4px;
    border: 1px solid var(--third-color);
}

.form-container .movie-information-container textarea {
    width: 100%;
    height: 75px;
    resize: none;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px !important;
    font-family: var(--font-family);
    border-radius: 4px;
    border: 1px solid var(--third-color);
}

.form-container .actor-information-container input:focus {
    border: 1px solid var(--primary-color);
    outline: none;
}

.form-container .movie-information-container input:focus {
    border: 1px solid var(--primary-color);
    outline: none;
}

.form-container .actor-information-container input[type=submit] {
    cursor: pointer;
    margin-bottom: 0;
    transition: 0.1s ease-in-out;
    text-transform: uppercase;
    font-family: var(--font-family);
}

.form-container .movie-information-container input[type=submit] {
    cursor: pointer;
    margin-bottom: 0;
    transition: 0.1s ease-in-out;
    text-transform: uppercase;
    font-family: var(--font-family);
}

.form-buttons-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#clear-form-container {
    width: 50%;
    height: 35px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    border: 1px solid var(--third-color);
    background-color: buttonface;
    color: buttontext;
    text-transform: uppercase;
    font-family: var(--font-family);
    font-size: 16px !important;
    gap: 10px;
}

#movie-clear-form-container {
    width: 50%;
    height: 35px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    border: 1px solid var(--third-color);
    background-color: buttonface;
    color: buttontext;
    text-transform: uppercase;
    font-family: var(--font-family);
    font-size: 16px !important;
    gap: 10px;
}

.form-container .actor-information-container input[type=submit]:hover {
    filter: brightness(1.1);
    background-color: green;
    color: var(--primary-font-color);
}

.form-container .movie-information-container input[type=submit]:hover {
    filter: brightness(1.1);
    background-color: green;
    color: var(--primary-font-color);
}

#clear-form-container:hover {
    filter: brightness(1.1);
    background-color: red;
    color: var(--primary-font-color);
}

#movie-clear-form-container:hover {
    filter: brightness(1.1);
    background-color: red;
    color: var(--primary-font-color);
}

.movie-input-container {
    width: 100%;
    display: flex;
    gap: 15px;
}

.three-columns {
    width: 33.3333%;
}

.two-columns {
    width: 50%;
}

/* ACTORS-MOVIES END */


/* MODAL START */

.modal-container {
    z-index: 20000;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 400px;
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 20px;
}

.modal .modal-title {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-font-color);
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--font-family);
    font-size: 35px;
}

.modal-success .modal-title {
    background-color: green;
}

.modal-failed .modal-title {
    background-color: red;
}

.modal .modal-description {
    width: 100%;
    height: calc(100% - 140px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-size: 16px !important;
    margin-bottom: 20px;
}

.modal button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: var(--primary-font-color);
    border: 1px solid var(--primary-font-color);
    transition: 0.1s ease-in-out;
    border-radius: 16px;
}

.modal-success button {
    background-color: green;
}

.modal-failed button {
    background-color: red;
}

.modal button:hover{
    filter: brightness(1.1);
}

/* MODAL END */


/* LOADER START */


.loader-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 30000;
}

.loader {
    width: 75px;
    height: 75px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.loader div.transparent {
    background-color: transparent !important;
}

.loader div {
    width: 20px;
    height: 20px;
    background: var(--spinner-color-4);
    animation: loader-colors-rotate 1s linear infinite;
    border-radius: 6px;
}

.loader div:nth-child(1) {
    animation-delay: 0s;
}

.loader div:nth-child(2) {
    animation-delay: 0.1s;
}

.loader div:nth-child(3) {
    animation-delay: 0.2s;
}

.loader div:nth-child(4) {
    animation-delay: 0.8s;
}

.loader div:nth-child(6) {
    animation-delay: 0.4s;
}

.loader div:nth-child(7) {
    animation-delay: 0.7s;
}

.loader div:nth-child(8) {
    animation-delay: 0.6s;
}

.loader div:nth-child(9) {
    animation-delay: 0.5s;
}

@keyframes loader-colors-rotate {
    0% { 
        background: var(--spinner-color-1);
        transform: rotate(90deg);
    }
    25% { 
        background: var(--spinner-color-2);
        transform: rotate(180deg);
    }
    50% { 
        background: var(--spinner-color-3);
        transform: rotate(270deg);
    }
    100% { 
        background: var(--spinner-color-4);
        transform: rotate(360deg); 
    }
}

/* LOADER END */