:root {
    --primary-font-color: #fff;
    --primary-color: #1e3687;
    --secondary-font-color: #000;
    --secondary-color: #0d1b49;
    --third-color: lightgray;
    --fourth-color: red;
    --font-family: 'Roboto', sans-serif;
    --css-gradient-background-1: rgb(181,182,182);
    --css-gradient-background-2: linear-gradient(94deg, rgba(181,182,182,1) 0%, rgba(44,70,150,1) 37%, rgba(56,80,153,1) 62%, rgba(181,182,182,1) 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-left: 60px;
}

/* SIDEBAR START */

.container-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: 0.1s ease-in-out;
    border-right: 1px solid var(--secondary-color);
    z-index: 10000;
}

.container-sidebar:hover {
    width: 250px;
    padding-right: 20px;
}

.nav-item-name {
    visibility: hidden;
    transition: 0.05s ease-in-out;
}

.container-sidebar:hover .nav-item-name {
    visibility: visible;
}

.container-sidebar .container-logo {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-sidebar .container-logo .logo {
    width: 40px;
    transition: 0.1s ease-in-out;
}

.container-sidebar .container-menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container-sidebar .container-menu a {
    width: 100%;
    height: 50px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 17px;
    color: var(--primary-font-color);
    font-family: var(--font-family);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.container-sidebar .container-menu a:hover {
    background-color: var(--secondary-color);
    transition: 0.1s ease-in-out;
}

.container-sidebar .container-menu a i {
    font-size: 25px;
    height: 100%;
    transition: 0.05s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-sidebar .container-menu a p {
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SIDEBAR END */

/* PAGES START */

.page-container {
    width: 100%;
    height: 100vh;
}

.page-container .title-container {
    width: 100%;
    height: 100px;
    background: var(--css-gradient-background-1);
    background: var(--css-gradient-background-2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-container .title-container .page-title {
    color: var(--primary-font-color);
    font-family: var(--font-family);
    font-size: 50px;
    font-weight: lighter;
}

.page-container .actions-container {
    width: 100%;
    height: calc(100vh - 100px);
    padding: 20px;
}

/* PAGES END */

/* ACTORS START */

table {
    border-spacing: 0px !important;
}

.hidden {
    display: none !important;
}

.page-container {
    width: 100%;
    height: calc(100vh - 100px);
}

.actors-container {
    width: calc(100%);
    height: calc(100%);
    display: flex;
    padding: 20px;
    gap: 20px;
}

.container {
    width: 70%;
    height: calc(100% - 40px);
}

.container .table-container {
    width: 100%;
    height: calc(100%);
    overflow-y: scroll;
    border-top: 1px solid var(--third-color);
    border-left: 1px solid var(--third-color);
    border-right: 1px solid var(--third-color);
}

.container .table-container table .sticky {
    height: 50px;
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    font-family: var(--font-family);
    font-weight: bold;
    text-transform: uppercase;
}

.container .table-container table {
    width: 100%;
    border-collapse: collapse;
}

.container .table-container table tr {
    border-bottom: 1px solid lightgray;
    height: 40px;
    font-family: var(--font-family);
}

.last-item {
    border-bottom: none !important;
}

.total-count {
    margin-right: 20px;
    color: var(--third-color);
    font-family: var(--font-family);
    text-transform: uppercase;
    font-weight: bold;
}

.container .table-container table th:nth-child(1) {
    width: 50px;
    padding: 5px;
    text-align: center;
}

.container .table-container table tr td:nth-child(1) {
    width: 50px;
    padding: 5px;
    text-align: center;
}

.container .table-container table th:nth-child(2) {
    width: 50%;
    padding: 5px;
    text-align: left;
}

.container .table-container table tr td:nth-child(2) {
    width: 50%;
    padding: 5px;
    text-align: left;
}

.container .table-container table th:nth-child(3) {
    width: 50%;
    padding: 5px;
    text-align: left;
}

.container .table-container table tr td:nth-child(3) {
    width: 50%;
    padding: 5px;
    text-align: left;
}

.container .table-container table th:nth-child(4) {
    width: 100px;
    padding: 5px;
}

.container .table-container table tr td:nth-child(4) {
    width: 100px;
    padding: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
    gap: 10px;
}

.container .table-container table tr td button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: var(--third-color);
    transition: 0.1s ease-in-out;
}

.container .table-container table tr td button.edit:hover {
    background-color: var(--primary-color);
}

.container .table-container table tr td button.trash:hover {
    background-color: var(--fourth-color);
}

.container .table-container table tr td i {
    font-size: 15px;
    color: var(--primary-font-color);
}

.container .pagination-container {
    width: 100%;
    height: 40px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 5px;
    border: 1px solid var(--third-color);
}

.container .pagination-container a {
    text-decoration: none;
    width: 50px;
    height: 30px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    border-radius: 4px;
    margin-left: 5px;
}

.container .pagination-container a:hover {
    background-color: var(--third-color);
    color: var(--primary-font-color);
}

.pagination-container .active {
    background-color: var(--primary-color);
    color: var(--primary-font-color) !important;
}

.form-container {
    width: 30%;
    height: calc(100vh - 140px);
}

.form-container p {
    width: 100%;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    font-family: var(--font-family);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.form-container .actor-information-container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--third-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.form-container .actor-information-container label {
    font-family: var(--font-family);
    margin-bottom: 5px;
    text-transform: uppercase;
}

.form-container .actor-information-container input {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 20px;
    font-family: var(--font-family);
    border-radius: 4px;
    border: 1px solid var(--third-color);
}

.form-container .actor-information-container input:focus {
    border: 1px solid var(--primary-color);
    outline: none;
}

.form-container .actor-information-container input[type=submit] {
    cursor: pointer;
    margin-bottom: 0;
    transition: 0.1s ease-in-out;
    text-transform: uppercase;
    font-family: var(--font-family);
}

.form-buttons-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#clear-form-container {
    width: 50%;
    height: 45px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    border: 1px solid var(--third-color);
    background-color: buttonface;
    color: buttontext;
    text-transform: uppercase;
    font-family: var(--font-family);
    font-size: 20px;
    gap: 10px;
}

.form-container .actor-information-container input[type=submit]:hover {
    filter: brightness(1.1);
    background-color: green;
    color: var(--primary-font-color);
}

#clear-form-container:hover {
    filter: brightness(1.1);
    background-color: red;
    color: var(--primary-font-color);
}

/* ACTORS END */


/* MODAL START */

.modal-container {
    z-index: 20000;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 400px;
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 20px;
}

.modal .modal-title {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-font-color);
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--font-family);
    font-size: 35px;
}

.modal-success .modal-title {
    background-color: green;
}

.modal-failed .modal-title {
    background-color: red;
}

.modal .modal-description {
    width: 100%;
    height: calc(100% - 140px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-size: 16px;
    margin-bottom: 20px;
}

.modal button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: var(--primary-font-color);
    border: 1px solid var(--primary-font-color);
    transition: 0.1s ease-in-out;
    border-radius: 16px;
}

.modal-success button {
    background-color: green;
}

.modal-failed button {
    background-color: red;
}

.modal button:hover{
    filter: brightness(1.1);
}